<div class="login">
  <div class="container">
      <h1>Log in</h1>
      <%= form_for(:session, url: login_path) do |f|  %>
      <form role="form">
        <div class="form-group" id="mailDiv">
          <%= f.label :email  %><br>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group" id="passDiv">
          <%= f.label :password %><br>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <%= f.submit "Log in", class: "btn-submit" %>
      </form>
      <% end %>
    </div>
  </div>
</div>


<script>

    $( "#session_email" ).focusout(function() {
        $("#message").remove();
        if($("#session_email").val()=="")
        {
            $("#mailDiv").append('<label class="message" id="message">can\u2019t be blank</label>');
        }
        else
        {
            $("#message").remove();
            if( !isValidEmailAddress( $("#session_email").val() ) )
            {
                $("#mailDiv").append('<label class="message" id="message">is invalid</label>');
            }
            else
            {
                $("#message").remove();
            }
        }
    });

    function isValidEmailAddress(emailAddress) {
        var pattern = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        return pattern.test(emailAddress);
    };

    $( "#session_password" ).focusout(function() {
        $("#message_password").remove();
        if($("#session_password").val()=="")
        {
            $("#passDiv").append('<label class="message" id="message_password">can\u2019t be blank</label>');
        }
        else
        {
            $("#message_password").remove();
            if( $("#session_password").length < 6 )
            {
                $("#passDiv").append('<label class="message" id="message_password">is too short</label>');
            }
            else
            {
                $("#message_password").remove();
            }
        }
    });



</script>
