<div class="show">
  <div class="container">
    <div class="row">
      <div class="col-md-9">

        <%= gravatar_for @player, size: 120 %>

        <div>
            <h1><%= @player.get_full_name %></h1>
            <span><%= image_tag Badge.find(@player.badge_id).icon %></span>
        </div>
        <div class="table-responsive">
  	    <table class="table">
	        <thead>
                <tr>
                  <th>Date</th>
                  <th>Title</th>
                  <th>Player</th>
                  <th>Result</th>
                  <th>Opponent</th>
                </tr>
            </thead>
            <tbody>
            <%= @player.matches.find_each do |match| %>
                <tr>
                  <td><%= match.date %></td>
                  <td><%= match.title %></td>

                  <% if @player.id == Player.find(match.player1_id).id %>
                      <td><%= @player.get_full_name %></td>
                      <td><%= match.player1_goals %> : <%= match.player2_goals %></td>
                      <td><%=  Player.find(match.player2_id).get_full_name %></td>
                  <% else %>
                      <td><%= @player.get_full_name %></td>
                      <td><%= match.player2_goals %> : <%= match.player1_goals %></td>
                      <td><%=  Player.find(match.player1_id).get_full_name %></td>
                  <%end%>

                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <br>
      </div>
      
      <div class="col-md-3">
        <ul>
          <li>
            <h4>Rating</h4>
            <span><%= @player.get_points %></span>
          </li>
          <li>
            <h4>Played matches</h4>
            <span><%= @player.played_matches %></span>
          </li>
          <li>
            <h4>Won matches</h4>
            <span><%= @player.won_matches %></span>
          </li>
          <li>
            <h4>Lost matches</h4>
            <span><%= @player.lost_matches %></span>
          </li>
          <li>
            <h4>Average number of goals</h4>
            <span><%= @player.average_goals_per_game %></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
