<div class="statistics">
  <div class="container">
    <h1>Players with the best score</h1>

    <div class="table-responsive">
      <table class="table">
        <thead>
            <tr>
            <th></th>
              <th>Player</th>
              <th>Badge</th>
              <th><%= sortable "wins" %></th>
              <th><%= sortable "losts" %></th>
              <th><%= sortable "points" %></th>
              <th><%= sortable "goals" %></th>
            </tr>
        </thead>
        <tbody>
        <% @players.each do |player| %>
            <tr>
              <td><%= gravatar_for player, size: 80 %></td>
              <td><%= player.get_full_name %></td>
              <td><%= image_tag Badge.find(player.badge_id).icon %></td>
              <td><%= player.wins %></td>
              <td><%= player.losts %></td>
              <td><%= player.points %></td>
              <td><%= player.goals %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
