<%= form_for(@match) do |f| %>
   <form role="form">
     <div class="form-group">
       <%= f.label :title %><br>
       <%= f.text_field :title, class: 'form-control'%>
     </div>
     <div class="form-group">
       <%= f.label :date %><br>
       <%= f.date_select :date, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :startTime %><br>
        <%= f.time_select :startTime, class: 'form-control', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :player1_id %><br>
        <%= collection_select(:match, :player1_id, Player.all, :id, :get_full_name) %>
      </div>
      <div class="form-group">
        <%= f.label :player2_id %><br>
        <%= collection_select(:match, :player2_id, Player.all, :id, :get_full_name)%>
      </div>
      <div class="form-group">
        <%= f.label :player1_goals %><br>
        <%= f.number_field(:player1_goals, in: 0..10) %>
      </div>
      <div class="form-group">
        <%= f.label :player2_goals %><br>
        <%= f.number_field(:player2_goals, in: 0..10) %>
      </div>
   <%= f.submit "Create", class: "btn-submit" %>
  </form>
<% end %>
